{
  "extends": [
    "@remix-run/eslint-config",
    "@remix-run/eslint-config/node",
    "@hakatashi/eslint-config/typescript"
  ],
  "rules": {
    "require-jsdoc": "off",
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/no-explicit-any": "off"
  },
  "globals": {
    "NodeJS": true
  }
}
